<button ion-button full primary (click)="toggle('location')">Location tracking {{flags.location ? 'Stop': 'Start'}}</button>
<button ion-button full primary (click)="toggle('sms')">SMS tracking {{flags.sms ? 'Stop' : 'Start'}}</button>

<ion-item>
    <ion-label>GPS Location Count</ion-label>
    <ion-badge item-end>{{ locationCount }}</ion-badge>
</ion-item>

<ion-item>
    <ion-label fixed>SMS Count</ion-label>
    <ion-badge item-end>{{ smsCount }}</ion-badge>
</ion-item>